body {
    min-width: 320px;
    margin: 0 0 5rem 0;


    color: var(--text-color-one);
    background-color: var(--primary-color);
}

main {
    margin: 0 16px;
}

@media screen and (min-width: 450px) {
    body {
        margin: 0;
        height: 100vh;
    
        display: grid;
        grid-template-columns: 284px calc(100vw - 284px);
        grid-template-rows: 116px 80px auto;
    
        color: var(--text-color-one);
        background-color: var(--primary-color);
    }
    
    body nav.component-nav-desktop {
        grid-column: 1/2;
        grid-row: 1/-1;
    
        border-right: 1px solid var(--divider-color-one);
    }
    
    section.tab-layout {
        height: 72px;
        margin-left: 72px;
        margin-right: 72px;
        margin-bottom: 44px;
        
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    section.filter-and-search {
        margin-left: 72px;
        margin-right: 72px;
        height: 56px;
        margin-bottom: 24px;
    
        display: flex;
        align-items: center;
    }
    
    main {
        margin-left: 72px;
    
        grid-column: 2/3;
    }
}

