.component-search-bar {
    width: 340px;
    padding: 0 8px;

    display: flex;
    gap: 4px;
    align-items: center;

    background-color: var(--secondary-color);
    border-radius: 100px;
}

.component-search-bar .search-bar--icon {
    width: 48px;
    height: 48px;
    display: block;
    padding: 12px;
}

.component-search-bar .search-input {
    width: 100%;
    margin-right: 16px;

    background-color: var(--secondary-color);
    color: var(--text-color-one);
}

.component-search-bar .search-input::placeholder {
    color: var(--tertiary-color);
    text-overflow: ellipsis;
}

.component-search-bar .search-input:focus {
    outline: none;
}

.component-search-bar .search-input:-webkit-autofill,
.component-search-bar .search-input:-webkit-autofill:hover, 
.component-search-bar .search-input:-webkit-autofill:focus, 
.component-search-bar .search-input:-webkit-autofill:active{
    caret-color: var(--text-color-one);
    -webkit-text-fill-color: var(--text-color-one) !important;
    -webkit-box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
}

input:-webkit-autofill {
    caret-color: white;
  }

@media screen and (min-width: 450px) {
    .component-search-bar {
      min-width: 320px;
    }
}