.component-search-bar {
    min-width: 288px;
    padding: 0 8px;


    display: flex;
    gap: 4px;
    align-items: center;

    background-color: var(--secondary-color);
    border-radius: 100px;
}

.component-search-bar .search-bar--icon {
    width: 48px;
    height: 48px;
    display: block;
    padding: 12px;
}

.component-search-bar .search-input {
    width: 100%;
    padding-right: 16px;

    background-color: var(--secondary-color);
    color: var(--text-color-one);
}

.component-search-bar .search-input::placeholder {
    color: var(--tertiary-color);
    text-overflow: ellipsis;
}

.component-search-bar .search-input:focus {
    outline: none;
}