/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    min-width: 250px; 
    /* Divide value of min-width by 2 */
    margin-left: -125px; 
    padding: 16px; 
    border-radius: 4px; 

    position: fixed;
    /* Center the snackbar */
    left: 50%; 
    /* 30px from the bottom */
    bottom: 30px; 

    /* Hidden by default. Visible on click */
    visibility: hidden; 

    background-color: var(--secondary-color);
    color: var(--text-color-one);

    text-align: center; 

    z-index: 1;
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible;
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }