body {
    min-width: 320px;
    margin: 0;

    display: block;
}

.SignUp {
    display: grid;
    grid-template-rows: 64px calc(100vh - 64px);
    align-items: center;
}

.site-logo {
    display: flex;
    gap: 8px;

    align-items: center;
    justify-content: center;

    height: 28px;
}

.site-logo h4 {
    font-size: clamp(var(--font-mob-size-h5), 6vw, var(--font-mob-size-h3));
}

.site-logo img {
    height: 28px;
}

.SignUp_Center {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    text-align: center;

    max-width: 450px;
}

.SignUp_Center h2 {
    padding: 1rem 0;
}

.SignUp_Center img {
    width: 48px;

    cursor: pointer;
}

ul {
    width: 100%;
    padding: 2rem 0;
    margin: auto;

    display: flex;
    justify-content: space-evenly;

    list-style-type: none;
}

/* ----------- */
.line_or {
    position: relative;
}

.line_or::before {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    margin-left: 16px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    left: 0;
}

.line_or::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    margin-right: 16px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    right: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    caret-color: var(--text-color-one);
    -webkit-text-fill-color: var(--text-color-one) !important;
    -webkit-box-shadow: 0 0 0 30px var(--secondary-color) inset !important;
}

input {
    border-radius: 4px;
    height: 54px;
}

input::placeholder {
    color: var(--text-color-one);
}

.signup_field {
    width: 100%;
    min-width: 288px;
    border: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color-one);
}

.my_fields {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 16px;
}

div:has(#show-btn),
div:has(#show-btn2) {
    position: relative;
}

#show-btn,
#show-btn2 {
    position: absolute;
    top: 16px;
    right: 15px;
}

.button-text {
    margin: 0 16px;
    padding: 18px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    color: var(--text-color-one);
    background-image: var(--background-gradient);

    font-size: var(--font-button);

    cursor: pointer;
}

.signIn {
    color: var(--text-color-one);
    font-size: var(--font-mob-small-one);

    a {
        color: var(--text-color-one);
        cursor: pointer;
    }
}

@media screen and (min-width: 450px) {
    .site-logo {
        margin-top: 32px;
        margin-left: 40px;
        justify-content: left;
    }

    .SignUp_Center {
        justify-self: center;
    }
}
