body {
    color: var(--text-color-one);
    /* font-family: "Amiko", sans-serif; */
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
}

button {
    cursor: pointer;
}
li {
    list-style: none;
}

header {
    background-color: var(--primary-color);
    width: 200px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 40px 20px;
    border-right: 1px solid #353535;
}

main {
    margin-left: 200px;
    background-color: var(--primary-color);
    padding: 3rem;
}

footer {
    height: 70px;
    border: 1px solid white;
    margin-left: 200px;
    text-align: center;
}

.film-chaser {
    font-size: var(--font-mob-size-h5);
}

.logo {
    width: 23px;
}

.logoTitle {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

nav ul {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 5rem;
}

.userNotify ul li a,
nav ul li a {
    display: flex;
    align-items: center;
    column-gap: 16px;
    transition: all 1s;
    padding: 6px;
    color: var(--tertiary-color);
}

nav ul li:hover {
    cursor: pointer;
    background-color: #ffffff4a;
    color: var(--text-color-one);
}

nav ul li:hover .material-symbols-outlined {
    -webkit-text-fill-color: transparent;
    background-clip: inherit;
    -webkit-background-clip: text;
    background-image: var(--background-gradient);
}

.mainTop {
    margin-left: 200px;
    background-color: var(--primary-color);
    padding: 3rem;
}

.userNotify {
    position: fixed;
    bottom: 2rem;
    left: 20px;
}

.userNotify ul {
    list-style-type: none;
    padding-left: 0px;
}

.topLinks {
    display: flex;
    list-style-type: none;
    border-bottom: 2px solid var(--secondary-color);
}

.topLinks li {
    padding: 10px 50px;
    border-bottom: 2px solid;
    border-image: var(--background-gradient) 15;
    transform: translateY(2px);
}

/* ----------------------------- */
/* MY CHANGES */
a {
    text-decoration: none;
    color: white;
}

a:hover .material-symbols-outlined {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: var(--background-gradient);
}

/* MAIN SECTION */
#mainDiscover {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 2fr;
    padding: 0;
    column-gap: 1rem;
}

/* HERO IMAGE */
.movie-header {
    grid-column: 1 / -1;
    background-color: var(--tertiary-color);
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.movie-header > .js-movie--general-info {
    display: flex;
    gap: 0.5rem;
}

/* MAIN SUBSECTION */
.main-subsection {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: auto auto;
}
.main-subsection h2 {
    grid-column: 1 / -1;
    border-bottom: 2px solid;
    border-image: var(--background-gradient) 15;
}
.information-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.section--where-to-watch {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

.section--where-to-watch h3 {
    grid-column: 1 / -1;
}

.section--where-to-watch .js-not-subscribed {
    display: flex;
    flex-flow: row wrap;
}
.section--where-to-watch .js-not-subscribed h4 {
    flex-basis: 100%;
}

.section--where-to-watch .js-streaming-logo {
    border-radius: 10px;
    height: 56px;
    width: 56px;
}

.section--movie-info-details div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem 0;
}
.section--comments p {
    font-size: var(--font-body);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.section-pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

.section-pictures .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5rem;
}

/* CARROUSEL */
.carrousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrousel .btn-arrow {
    background-color: transparent;
    color: var(--text-color-one);
    transition: all 0.3s ease-in-out;
}

.js-movie-related-pictures figure {
    position: relative;
    height: 100%;
}

.js-movie-related-pictures figcaption {
    /* Same width as the posters */
    width: 154px;
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
