body{
    grid-template-columns: 284px 100vw;
}


.mainTop .searchMovies .ulMovies {
    display: flex;
}

.mainTop .searchMovies .ulMovies.hidden {
    display: none;
}

.film-chaser.discover-carousel {
    margin-top: 24px;
    display: block;
}

.film-chaser.home-carousel.noActive {
    display: block !important;
}

/************************* FRIENDS *******************************/
.main-Friends {
    margin-top: 24px;
    display: none;
}

.main-Friends.active {
    display: flex;
    flex-direction: column;
}

.main-Friends .hidden {
    display: none;
}

/* --------------------------- SEARCH -----------------------------*/
section.filter-and-search .component-search-bar {
    margin: 0 auto;
    margin-top: 20px;
    
}

.div-grid-detail {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(154px, 160px));
    gap: 24px 16px;
}

.div-grid-detail img {
    width: 154px;
    height: 231px;
}

.div-grid-detail a {
    color: var(--text-color-one);
    text-decoration: none;
}



@media screen and (min-width: 450px) {
    section.tab-layout{
        margin-right: 0;
    }

    section.film-chaser.filter-and-search{
        flex-flow: wrap;
        gap: 20px;
    }
    section.filter-and-search .component-search-bar{
        margin: 0;
    }
    .film-chaser.discover-carousel {
        margin-top: 96px;
    }

} 

@media screen and (min-width: 750px) { 
    section.filter-and-search .component-search-bar {
        margin-top: unset;
        margin-left: 42px;
    }
    section.film-chaser.filter-and-search{
    flex-flow: nowrap;
    gap: 0;
    }
    .film-chaser.discover-carousel {
        margin-top: 48px;
    }
}