*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    max-width: 1400px;
    margin: auto;
}

.div_movies{
    position: relative;
    height: auto;
}


body, .div_movies {
  background-color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
}

header{
    background-color: #940505;
    padding: 3rem 0;

    h1{
        font-size: 5rem;
        text-align: center;
    }
}

.notActive{
    display: none;
}

#mainSearch{
    display: none;
}

#mainSearch.Active{
    display: block !important;
}
.section_movies:nth-of-type(1){
    margin-top: 5rem;
}



.section_movies{
    margin-top: 4rem;
}


.section_movies{
    height: auto;
}

.movies_title_h2{    
    color: white;
    padding: 10px 30px;    
    letter-spacing: 0.1rem;
    font-size: clamp(0rem, 1.3vw, 1.3rem);
}

.movies_title_h2 span{
    margin-left: 40px;
}  



/*************SEARCH ****************/

.div_search{
    position: absolute;
    top: 30px;
    right: 30px;
}

.div_search input{
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 200px;
}

.div_search button{
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
}



/************ FOOTER ************/
footer{
    background-color: #940505;    
    padding: 50px;
}

footer p{
    text-align: center;
}













/********************** CAROUSEL ***********************/
.swiper {
    width: 100%;
    /* height: 200px; */
    height: auto;
  }

  .swiper-slide div{
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 10px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    height: auto;
    object-fit: cover;
    min-width: 50px;
    min-height: 50px;
  }








  .div_image{
    position: relative;
  }


  .div_image p{
    background-color: #151515;
    color: orange;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 0;
  }