body {
    grid-template-rows: 116px auto;
}

section.tab-layout {
    display: none;
}

section.filter-and-search {
    margin-top: 36px;
    grid-row: 1/2;
    grid-column: 2/3;
}

.hidden {
    display: none;
}
