.country-list {
    margin-top: 3rem;
}

#country-list {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scrollable-list {
    overflow-y: auto;
}

.country-option {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#selected-country-option {
    margin-bottom: 10px;
}

#selected-country {
    font-weight: bold;
}
