.nav-secondary {
    padding: 0;
}

.search-by-categories {
    margin-top: 3rem;
}

.catogory-tags-container {
    display: flex;
}

.catogory-tag {
    display: flex;
}

.genres {
    margin-bottom: 3rem;
}

.actor-image,
.director-image {
    width: 4rem;
    height: 8rem;
    border: 1px solid black;
}

.genres-container,
.actors-container,
.directors-container {
    margin-top: 1rem;
}

.actors-images-container,
.directors-images-container{
    display: flex;
    gap: 1rem;;

}


.actors-images-container,
.directors-images-container{
    display: flex;
    gap: 1rem;;

}


.catogory-tag {
    border: 1px solid gray;
    margin-right: 1rem;
}

input {
    width: 300px;
    border: 1px solid gray;
}
