
*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
}

header img{
    width: 2rem;
    height:2rem;
}


li{
    list-style: none; 
}

h1{
    margin-bottom: 1rem;
}


.nav-primary{

    padding: 0;
    margin-bottom: 3rem;
}


.nav-secondary{
    padding: 0;
}
