* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    color: var( --text-color-one);
    background-color: var(--primary-color);
    padding: 0px 2%;
}

.SignUp p {
    font-family: "Open Sans", sans-serif;
}


/* ---------------- */

.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: 1rem 0 2rem 0;

    h5 {
        padding: 0.3rem;
        font-weight: 600;
    }
    img {
        height: 28px;
    }
}


.SignUp {
    display: grid;
    width: 100%;
    align-items: center;
}
.SignUp form {
    justify-self: center;
}
.SignUp_Center {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    text-align: center;

    width: 100vw;
    max-width: 620px;

    h1 {
       font-size: var(--font-mob-size-h2);
       padding: 1rem 0; 
    }

    img {
        width: 48px;
    }
}


ul {
    list-style-type: none;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}

/* ----------- */
.line_or {
    position: relative;
}

.line_or::before {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    left: 0;
}

.line_or::after {
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    right: 0;
}

.fields,
.signup_field,
.button {
    width: 100%;
    height: 54px;
    font-weight: 500;
}


input {
    border-radius: 4px;
}
input::placeholder {
    color: var(--text-color-one);
}

.signup_field {
    border: 1px solid var(--tertiary-color);
    padding: 0.5rem;
    background-color: var(--secondary-color);
    color: var(--text-color-one);
}

.my_fields {
    display: grid;
    gap: 1rem;
    padding: 2rem 0;
}

.button {
    background-image: var(--background-gradient);
    color: var(--text-color-one);
    font-family: "Amiko", sans-serif; ;
    font-size: var(--font-mob-button);
    font-weight: 600;
    text-align: center;
}

.signIn  {
    color: var(--text-color-one);
    font-size: var(--font-mob-small-one);

    a {
        color:  var(--text-color-one);
        cursor: pointer;
    }
}


@media screen and (min-width: 450px) {
    .site-logo {
        justify-content: left;
    }

}
