

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

body{
    color: var( --text-color-one);
    background-color: var(--primary-color);
    padding: 0px 2%;
}

.SignIn p, .SignIn span {
    font-family: "Open Sans", sans-serif;
}


/* SITE IDENTITY AREA */
.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    padding: 1rem 0 2rem 0;

    h5 {
        padding: 0.3rem;
        font-weight: 600;
    }
    img {
        height: 28px;
    }
}

.SignIn{
    display: grid;
}

.SignIn_Center {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;

    text-align: center;

    max-width: 620px;
    margin: 2%;

    h2 {
        font-size: var(--font-mob-size-h2);
        padding: 1rem 0; 
     }
 
     img {
         width: 48px;
     }
}


ul{
    list-style-type: none;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
/* ----------- */
.line_or{
    position: relative;
}

.line_or::before{
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    left: 0;
}

.line_or::after{
    content: "";
    display: block;
    width: 45%;
    height: 2px;
    background: var(--divider-color-one);
    position: absolute;
    top: 50%;
    right: 0;
}


.fields, .signin_field, .button{
    width: 100%;
    height: 54px;
    font-weight: 500;
}



.signin_field{
    border: 1px solid #979797;
    padding: 0.5rem;
    background-color: #262730;
    color: white;
    border-radius: 4px;
}

.signin_field::placeholder {
    color: var(--text-color-one);
}
div:has(#show-btn) {
    position: relative;
}
#show-btn{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: var(--font-mob-small-two);
}
.my_fields{
    display: grid;
    gap: 1rem;
    padding: 1rem 0;
}

.button{
    padding: 0.5rem;
    margin-top: 3rem;
    height: 54px;
    border-radius: 4px;
    background-image: var(--background-gradient);
    color: var(--text-color-one);
    font-family: "Amiko", sans-serif; ;
    font-size: var(--font-mob-button);
    font-weight: 600;
    text-align: center;
    
}

a{
    color: var(--text-color-one);
    padding-left: 0.7rem;
    cursor: pointer;
}



@media screen and (min-width: 450px) {
    
    .site-logo {
        justify-content: left;
    }
    
    .SignIn_Center { 
        width: 100vw;
        margin: 0 auto;
    }
}