@import url('https://fonts.googleapis.com/css2?family=Amiko:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
/*   font-family: "Amiko", sans-serif;*/
/* font-family: "Open Sans", sans-serif; */

:root {
    --accent-color-one:#EC764F;
    --accent-color-two:#2E5DF3;
    --primary-color:#0F1A20;
    --secondary-color:#262730;
    --tertiary-color:#9E9BAC;
    --text-color-one:#FFFFFC;
    --text-color-two:#D9D9D9;

    --background-gradient: linear-gradient(270deg, var(--accent-color-one), #72465D, var(--accent-color-two));

    --font-size-h1:47.78px;
    --font-size-h2:39.81px;
    --font-size-h3:33.18px;
    --font-size-h4:27.65px;
    --font-size-h5:23.04px;
    --font-size-h6:19.20px;
    --font-button:16px;
    --font-body:16px;
    --font-small-one:13.33px;
    --font-small-two:11.11px;

    /* FONT SIZES FOR MOBILE */
    --font-mob-size-h1:32.44px;
    --font-mob-size-h2:28.83px;
    --font-mob-size-h3:25.63px;
    --font-mob-size-h4:22.78px;
    --font-mob-size-h5:20.25px;
    --font-mob-size-h6:18px;
    --font-mob-button:16px;
    --font-mob-body:16px;
    --font-mob-small-one:14.22px;
    --font-mob-small-two:12.64px


}

*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
/* body {

} */

/* MOBILE SCREEN */
/* THEY ARE TWO MEDIA QUERIES SO FAR 450px and 700px */
@media screen and (max-width:450px) {
    body{
        padding: 1rem 1rem;
    }


   
}