*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
  background-color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100vh;
}


header{
    background-color: #940505;
    padding: 3rem 0;

    h1{
        font-size: 5rem;
        text-align: center;
    }
}



/************* PAGES LINK ****************/
.div_link_next_page{
    ul{
        text-align: center;
        list-style-type: none;        
    }    

    ul li{
        display: inline-block;
        letter-spacing: 0.5rem;
    }
}




/*************MAIN ****************/
main{
    border: 2px solid red;
    padding-bottom: 160px;
    padding-top: 100px;
    padding-left: 3rem;
    padding-right: 3rem;
    
    h2{
        line-height: 4rem; 
        letter-spacing: 0.2rem;   
        font-size: clamp(0rem, 2.3vw, 1.5rem);

    }

    h3{
        margin-bottom: 1rem;
    }

    h2 span{
        font-weight: lighter;
    }

    .results{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;
        padding-bottom: 2.5rem;

        .show_result{            
            border-radius: 15px;
            
            overflow: hidden;
            margin-bottom: 2rem;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
}









/*************SEARCH ****************/

.div_search{
    position: absolute;
    top: 30px;
    right: 30px;
}

.div_search input{
    padding: 10px;
    border-radius: 15px;
    border: none;
    width: 200px;
}

.div_search button{
    padding: 10px;
    font-weight: 700;
    border-radius: 15px;
}



/************ FOOTER ************/
footer{
    background-color: #940505;    
    padding: 50px;
    position: absolute;
    bottom: 0;
    left: 0;    
    width: 100%;
}

footer p{
    text-align: center;
}












